/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Header */
header {
    height: 550px;
    background-color: #0A305F;
}